/* ===== TABLE HEADER ===== */

.table-header {
    font-size: 24px;
    color: #015c5d;
    margin-bottom: 30px;
    margin-right: 0;
  }
  
  
  /* ===== TABLE STYLING ===== */
  
  table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    margin-top: 20px;
  }
  
  
  /* ===== TABLE HEAD ===== */
  
  thead {
    background-color: #33333310;
    color: #fff;
  }
  
  
  /* ===== TABLE CELLS ===== */
  
  td,
  th {
    padding: 12px 16px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  
  /* ===== ROW STYLING ===== */
  
  /* Even rows */
  tbody tr:nth-child(even) {
    background-color: #f9f9f959;
  }
  
  /* Odd rows */
  tbody tr:nth-child(odd) {
    background-color: #ffffffc0;
  }
  
  /* Hover effect */
  tbody tr:hover {
    background-color: #015c5d39;
  }
  
  
  /* ===== PRESCRIPTION BUTTON ===== */
  
  .prescription-btn {
    width: 30px;
    height: 30px;
  
    border: none;
    background: transparent;
  
    cursor: pointer;
  
    transition: transform 0.15s ease, filter 0.15s ease;
  }
  
  /* Hover */
  .prescription-btn:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
  }
  
  /* Click */
  .prescription-btn:active {
    transform: scale(0.95);
  }
  
  
  /* ===== NO RECORD MESSAGE ===== */
  
  .noPatientRecord {
    font-size: 16px;
    color: gray;
    font-style: italic;
    margin-top: 20px;
  }
  
  
  /* ===== TODAY BUTTON ===== */
  
  .today-btn {
    margin-right: 10px;
    padding: 10px;
  
    background-color: #015c5d;
    color: white;
  
    border: none;
    border-radius: 6px;
  
    cursor: pointer;
  }
  
  
  /* ===== DATE PICKER ===== */
  
  .date-picker {
    margin-left: 10px;
    margin-top: 13px;
  
    padding: 10px;
    height: 30px;
  
    border-radius: 8px;
    border: 1px solid #ccc;
  }